.sider-header{
    height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
}
[nz-icon]{
    font-size: 20px
}
.follow-content{
    height: 771px;
    background-color: white;
}
.follow-list-header-label{
    float: left;
    text-align: left;
}
.follow-list-add-link{
    float: right;
    text-align: center;
}
.list-item-more{
    float:right; text-align:center;width: 20px;
}