<nz-page-header nzTitle="VTB List" nzSubtitle="添加到关注列表的VTB的直播状态才会收到监控">
</nz-page-header>
<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="search">
  <input #searchInput type="text" nz-input/>
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch (click)="filter(searchInput.value)"><i nz-icon nzType="search"></i></button>
</ng-template>
<br />
<nz-list [nzDataSource]="vtbs" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading"
    [nzSize]="smail">
    <ng-template #item let-item>
        <nz-list-item [nzActions]="[followAction,enterLiveAction]">
          <ng-template #followAction><a (click)="follow(item)">关注</a></ng-template>
          <ng-template #enterLiveAction><a (click)="enter(item)">进入直播间</a></ng-template>
            <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="item.sign">
                <ng-template #nzAvatar>
                      <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="item.face"></nz-avatar>
                </ng-template>
                <ng-template #nzTitle>
                    <a [href]="'https://space.bilibili.com/'+item.mid" target="_black">{{ item.uname }}</a>
                </ng-template>
            </nz-list-item-meta>
        </nz-list-item>
    </ng-template>
</nz-list>
