<nz-layout>
  <nz-sider>
    <ul nz-menu>
      <li nz-menu-item routerLink="/living" nzMatchRouter><i nz-icon nzType="play-square" nzTheme="outline"></i>直播</li>
      <li nz-menu-item routerLink="/follow" nzMatchRouter><i nz-icon nzType="star" nzTheme="outline"></i>关注</li>
      <li nz-menu-item routerLink="/vtbs" nzMatchRouter><i nz-icon nzType="profile" nzTheme="outline"></i>VTB</li>
      <li nz-menu-item routerLink="/ddc-app" nzMatchRouter><i nz-icon nzType="appstore"
          nzTheme="outline"></i>DD-Center产品</li>
      <li nz-menu-item routerLink="/setting" nzMatchRouter><i nz-icon nzType="setting" nzTheme="outline"></i>设置</li>
    </ul>
  </nz-sider>
  <nz-content class="content">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>