<nz-layout>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline">
        <li [routerLink]="['/living']" nzMatchRouter nz-menu-item><i nz-icon nzType="play-circle"
            nzTheme="twotone"></i>Living</li>
        <li [routerLink]="['/v-list']" nzMatchRouter nz-menu-item><i nz-icon nzType="profile"
            nzTheme="twotone"></i>vList
        </li>
        <li [routerLink]="['/ddc-app']" nzMatchRouter nz-menu-item><i nz-icon nzType="appstore"
            nzTheme="twotone"></i>DDC
          App</li>
        <li [routerLink]="['/setting']" nzMatchRouter nz-menu-item><i nz-icon nzType="setting"
            nzTheme="twotone"></i>Setting
        </li>
      </ul>
    </nz-sider>
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>